html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

img {
	display: block;
	width: 100%;
}
.wrapper {
	max-width: 1300px;
}
header {
	background-image: url(image-1@2x.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}
ul {
	text-align: center;
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	display: inline-block;
}
.full-screen li:first-child a {
	color: #E85B26;
}
a {
	text-decoration: none;
	padding: 10px 15px;
	font-family: 'Nova Flat', cursive;
	font-size: 20px;
	line-height: 29px;
    color: black;
    font-weight: 400;
}
h1,
h2,
h3 {
	font-family: 'Nova Flat', cursive;
	margin: 0;
    padding: 0;
    font-weight: 400;
}
h1 {
	font-size: 80px;
    color: #186684;
}
h2 {
	color: #186684;
	font-size: 42px;
}
h3 {
	color: #E85B26;
	font-size: 42px;
}
p {
	font-size: 20px;
	line-height: 29px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
}
button {
	border: 2px red solid;
	background: white;
	color: #186684;
	font-family: 'Nova Flat', cursive;
	font-size: 18px;
	line-height: 29px;
	text-transform: uppercase;
}
.hamburger,
.exit-menu {
    display: none;
}
.exit-menu {
    position: relative;
    bottom: 65px;
}
.show.menu-links {
	display: block;
}
.the-gram {
	text-align: center;
	margin: 50px;
}
.copyright {
	background: #1F2022;
	color: #F4F4F4;
	text-align: center;
	padding: 10px 0;
}

.text-box {
	float: left;
	width: 40%;
    padding: 30px;
    /* text-align: center; */
}
.side1,
.side2 {
    padding-left: 100px;
}
footer {
	background-color: #F4F4F4;
}
footer li {
	margin-top: 50px;
}
span {
	display: block;
}
form {
	margin: 0 auto;
}
.email-wrapper {
    width: 100%;
}
input[type=email] {
    padding: 10px;
}
input[type=submit] {
	background-color: #186684;
	font-family: 'Nova Flat', cursive;
	font-size: 18px;
	border: 3px #E85B26 solid;
	color: #F4F4F4;
    padding: 10px;
}
input[type=submit]:hover,
input[type=submit]:focus {
	background-color: rgb(15, 18, 228);
	border: 3px rgb(20, 3, 3) solid;
}
.gram {
	float: left;
	position: relative;
	width: 29%;
	margin: 4% 2%;
}
.container-icon {
	background-image: url(image-5@2x.png);
	background-position: center;
	background-size: cover;
	height: 300px;
	position: relative;
}
.grey-box2 {
	background: #F4F4F4;
	position: absolute;
	top: 20%;
	left: 20%;
	bottom: 20%;
	right: 20%;
}
.icon {
	float: left;
	padding-top: 40px;
	text-align: center;
	width: 33%;
	color: #E85B26;
	font-size: 50px;
}
.icon span {
	color: #196684;
	font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.grey-box1 {
	background: #F4F4F4;
	padding: 5%;
}
.info-container,
.photo-container {
	float: left;
	width: calc(40% - 4%);
	margin: 2%;
}
.part1 {
	float: right;
	width: 50%;
}
.part2 {
	float: left;
	width: 50%;
}
.main-content {
	padding: 50px;
}
.social-icon {
    float: right;
    padding-top: 100px;
}
.fa {
	color: #E85B26;
	font-size: 25px;
}
.social-media-content {
	display: block;
	padding: 10px 0;
}
.greybox {
	background-color: rgb(244, 244, 244, 0.8);
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    transform: translate(50px, 150px);
}


/* // Media Query for Responsive Design // */

@media (max-width: 740px) {
	input[type=submit],
	input[type=email] {
		margin: 5px;
		width: 80%;
	}
	input[type=email],
	button {
		text-align: center;
	}
	a {
		font-size: 1rem;
	}
	p {
		font-size: 1rem;
	}
	h1 {
		font-size: 60px;
    }
    .greybox {
        width: 250px;
        transform: translate(0, 200px);
    }
	.text-box {
		float: none;
		width: 100%;
		text-align: center;
    }
    .side1,
    .side2 {
        padding: 30px 0 0 0;
    }
	.main-content,
	.main-img,
	.info-container,
	.photo-container {
		width: 100%;
		text-align: center;
	}
	.gram {
		width: 45%;
	}
	.team-gram .gram:nth-child(4) img {
		display: none;
	}
	.container-icon {
		height: 600px;
	}
	.grey-box2 .icon {
		width: 100%;
        font-size: 25px;
    }
}

@media (max-width: 350px) {
	h2,
	h3 {
		font-size: 20px;
	}
	.footer-links {
		text-align: center;
		width: 100%;
	}
	header nav,
	.social-icon {
		display: none;
	}
	input[type=submit],
	input[type=email] {
		margin: 5px;
		width: 80%;
	}
	.grey-box2 .icon {
		width: 100%;
		font-size: 25px;
	}
	.icon span {
		font-size: 20px;
    }
    .hamburger {
        display: block;
        border: none;
        font-size: 30px;  
        background: none;
        float: right;
    }
    .fa-bars,
    .fa-times {
        position: relative;
        color: black;
    }
    
    footer ul li a {
        font-size: 15px;
    }
    .menu-links .full-screen {
		position: fixed;
		top: 0;
		left: 0;
        right: 0;
        bottom: 0;
		background: rgba(117, 115, 115, 0.95);
		z-index: 10;
    }
    .full-screen {
		padding-top: 20%;
    }
    .menu-links ul {
        text-align: right;
        padding: 30px 0;
    }
    .menu-links ul li{
        padding-top: 20px;
        text-align: right;
    }
    .menu-links ul a,
    .full-screen li:first-child a {
		font-size: 50px;
        margin: 20px;
        color: #FFFF;
    }
    .menu-links ul a:hover:focus {
        text-decoration: underline black;
        transition: 1s;
    }
    .exit-menu {
        display: block;
    }
}



